<div class="div_list_row">
	<div class="div_list_image"><%= link_to image_tag(fact.image_url, :class => "img_list_scaled"), fact %></div>
	<div class="div_list_content">
		<div class="div_list_description"><%=h fact.description %></div>
		<div class="div_list_timestamp"><%= l fact.timestamp, :format => :long %></div>
		<div class="div_list_rate">
			<%= link_to image_tag("/images/good.png", :class => :img_good_bad, :alt => "#{I18n.t("site.good")}"), fact_good_path(fact) %>
			<div class="score score_<%= fact.score_kind %>"><%= fact.score %></div>
			<%= link_to image_tag("/images/bad.png", :class => :img_good_bad, :alt => "#{I18n.t("site.bad")}"), fact_bad_path(fact) %>
		</div>
	</div>
<% if show_share  %>
	<div class="div_share"><script type="text/javascript" src="http://w.sharethis.com/button/sharethis.js#publisher=68ac7249-835e-4195-b8b6-2ef1be56089a&amp;type=website&amp;style=vertical&amp;post_services=email%2Cfacebook%2Ctwitter%2Cgbuzz%2Cmyspace%2Cdigg%2Csms%2Cwindows_live%2Cdelicious%2Cstumbleupon%2Creddit%2Cgoogle_bmarks%2Clinkedin%2Cbebo%2Cybuzz%2Cblogger%2Cyahoo_bmarks%2Cmixx%2Ctechnorati%2Cfriendfeed%2Cpropeller%2Cwordpress%2Cnewsvine"></script>
  </div>
<% end %>
  
</div>