<% @facts.each do |fact| %>
  <div class="div_list_row">
    <div class="div_list_image"><%= link_to image_tag(fact.image_url, :class => "img_list_scaled"), fact %></div>
    <div class="div_list_content">
      <div class="div_list_description"><%=h fact.description %></div>
	  <div class="div_list_timestamp"><%= fact.timestamp %></div>
	  <div class="div_list_rate">
	    <%= I18n.t("site.score_desc", :kind => "positive", :score => fact.score) %>
	    <%= link_to "#{I18n.t("site.good")}", fact_good_path(fact) %> / <%= link_to "#{I18n.t("site.bad")}", fact_bad_path(fact) %>
  	  </div>
	</div>
  </div>
<% end %>
<br />

<%= link_to 'New fact', new_fact_path %>