<% @facts.each do |fact| %>
  <div class="div_list_row">
    <div class="div_list_image"><%= link_to image_tag(fact.image_url, :class => "img_list_scaled"), fact %></div>
    <div class="div_list_content">
      <div class="div_list_description"><%=h fact.description %></div>
	  <div class="div_list_timestamp"><%= fact.timestamp %></div>
	  <div class="div_list_rate">
	  	<%= link_to image_tag("/images/good.png", :class => :img_good_bad, :alt => "#{I18n.t("site.good")}"), fact_good_path(fact) %>
	  	<div class="score score_<%= fact.score_kind %>"><%= fact.score %></div>
	  	<%= link_to image_tag("/images/bad.png", :class => :img_good_bad, :alt => "#{I18n.t("site.bad")}"), fact_bad_path(fact) %>
  	  </div>
	</div>
  </div>
<% end %>
