<h1><%= I18n.t("site.title") %></h1>

<table>
  <tr>
    <th><%= I18n.t("site.fact") %></th>
    <th><%= order_link "Score", "score desc" %></th>
		<th>Quando?</th>
  </tr>

<% @facts.each do |fact| %>
  <tr>
    <td><%=h fact.description %><br><%= link_to image_tag(fact.image_url), fact %>
	  </td>
    <td><%=h fact.score %></td>
		<td><%= fact.timestamp %></td>
    <td><%= link_to "#{I18n.t("site.good")}", fact_good_path(fact) %> / <%= link_to "#{I18n.t("site.bad")}", fact_bad_path(fact) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New fact', new_fact_path %>