<% content_for :menu do -%>
	<li>
      <a href="#" class="selected_menu"><%= @fact.small_description %></a>
  </li>
<% end -%>
<p>
  <b>Description:</b>
  <%=h @fact.description %>
</p>

<p>
  <%= image_tag(@fact.image_url) %>
</p>

<p>
  <b>Score:</b>
  <%=h @fact.score %>
</p>
<script type="text/javascript" src="http://w.sharethis.com/button/sharethis.js#publisher=68ac7249-835e-4195-b8b6-2ef1be56089a&amp;type=website&amp;style=vertical&amp;post_services=email%2Cfacebook%2Ctwitter%2Cgbuzz%2Cmyspace%2Cdigg%2Csms%2Cwindows_live%2Cdelicious%2Cstumbleupon%2Creddit%2Cgoogle_bmarks%2Clinkedin%2Cbebo%2Cybuzz%2Cblogger%2Cyahoo_bmarks%2Cmixx%2Ctechnorati%2Cfriendfeed%2Cpropeller%2Cwordpress%2Cnewsvine"></script>

<% if !@fact.metadatas.blank? %>
<h3><%= I18n.t("site.comments") %></h3>
  <% for metadata in @fact.metadatas %>
    <p><%= metadata.comment %></p>
  <% end %>
<% else %>
  
<% end %>

<% form_tag "#{facts_path}/#{@fact.id}/metadatas" do |f| -%>
<p>
  <%= I18n.t("site.comment") %><br />
  <%= text_area :metadata, :comment, :size => "30x3" %>
</p>
<%= submit_tag I18n.t("site.send")%>
<% end -%>
