<% content_for :menu do -%>
	<li>
      <a href="#" class="selected_menu"><%= @fact.small_description %></a>
  </li>
<% end -%>

<%= render :partial => "fact", :object => @fact, :locals => {:show_share => true}  %>


<% if !@fact.metadatas.blank? %>
<h3><%= I18n.t("site.comments") %></h3>
  <% for metadata in @fact.metadatas %>
    <div class="div_comment">
    	<p class="comment_text"><%= metadata.comment %></p>
    	<p class="comment_timestamp"><%= metadata.updated_at %></p>
    </div>
  <% end %>
<% else %>
  
<% end %>

<% form_tag "#{facts_path}/#{@fact.id}/metadatas" do |f| -%>
<p>
  <%= I18n.t("site.comment") %><br />
  <%= text_area :metadata, :comment, :size => "30x3", :class => "textarea_comment" %>
</p>
<%= submit_tag I18n.t("site.send")%>
<% end -%>
