<p>
  <b>Description:</b>
  <%=h @fact.description %>
</p>

<p>
  <%= image_tag(@fact.image_url) %>
</p>

<p>
  <b>Score:</b>
  <%=h @fact.score %>
</p>

<% if !@fact.metadatas.blank? %>
<h3><%= I18n.t("site.comments") %></h3>
  <% for metadata in @fact.metadatas %>
    <p><%= metadata.comment %></p>
  <% end %>
<% else %>
  
<% end %>

<% form_tag "#{facts_path}/#{@fact.id}/metadatas" do |f| -%>
<p>
  Comentário<br />
  <%= text_area :metadata, :comment, :size => "30x3" %>
</p>
<%= submit_tag %>
<% end -%>
