<h3><%= t("site.about") %></h3>

<p><%= t("site.about_1") %></p>
<p><%= t("site.about_2") %></p>
<p><%= t("site.about_3") %></p>

<h3><%= t("site.team") %></h3>
<ul>
	<li><%= link_to "Carlos Duarte do Nascimento (Chester)", "http://chester.blog.br/" %></li>
	<li><%= link_to "Daniel Cukier", "http://www.agileandart.com/" %></li>
	<li><%= link_to "Vanessa Sabino", "http://baniverso.com" %></li>
	<li>Marcos Diez</li>
</ul>
<h3><%= t("site.technology") %></h3>
<p><%= t("site.technology_1") %></p>


