<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
				<%= stylesheet_link_tag :all, :cache => true %>
        <title>#urbanfact</title>
    </head>
    <body>
        <div id="div_main">
            <div id="div_header">
								<%= image_tag "logo_en.png" %>
                <p id="p_subtitle">
                    show the best and the worst in your city
                </p>
            </div>
            <div id="div_menu">
                <ul>
                    <li>
											<%= link_to "All the facts", :root, :class => select_menu("/") %>
                    </li>
                    <li>
                        <a href="map.html">Fact Map</a>
                    </li>
										<%= yield :menu %>
                </ul>
            </div>
            <div id="div_content">
                <%= yield %>
            </div>
        </div>
    </body>
</html>
