<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>        
				<%= stylesheet_link_tag :all, :cache => true %>
        <title>#<%= I18n.t("site.hashtag") %></title>
    </head>
    <body>
        <div id="div_main">
            <div id="div_header">
								<%= link_to (image_tag "#{I18n.t("site.logo")}", :alt => "#{I18n.t("site.hashtag")}", :id => "img_logo"), :root  %>
                <p id="p_subtitle">
                    <%= I18n.t("site.subtitle") %>
                </p>
            </div>
            <div id="div_menu">
                <ul>
                    <li>
											<%= link_to "#{I18n.t("site.all_facts")}", :root, :class => select_menu([root_path, facts_path]) %>
                    </li>
                    <li>
						                    <%= link_to "#{I18n.t("site.fact_map")}", '/map', :class => select_menu(["/map"]) %>
                    </li>
										<%= yield :menu %>
                </ul>
            </div>
            <div id="div_content">
                <%= yield %>
            </div>
        </div>
    </body>
</html>
